* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

header {
    background-color: white;
    padding-top: 2rem;
    padding-left: 2rem;

}

h1 {
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
    vertical-align: top;
}

nav {
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    padding: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bg-color {
    background-color: white;
}

button {
    padding: 0.5em;
}

#add-task {
    border: 0;
    color: white;
    background-color: rgb(0, 162, 255);
    border-color: rgb(0, 162, 255);
    border-radius: 3px;
}

#add-section {
    color: rgb(192, 186, 186);
    border-color: rgb(192, 186, 186);
    background-color: white;
    border-radius: 3px;
}

section {
    width: 1000px;
    height: 670px;
    margin: auto;
    margin-top: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}


ul {
    margin-left: 50px;
}


#list-2 {
    margin-top: 20px;
}

#list-3 {
    margin-top: 20px;
}